@import '@/styles/color.scss';

.materialCard {
  .materialDetail {
    margin-top: 8px;
    background-color: #ffffff;
    border: 1px solid $color-border-default;
    padding: 16px;
    border-radius: 6px;

    .materialDetailHeader {
      display: flex;
      justify-content: space-between;
      gap: 32px;

      .materialTitle {
        .name {
          font-size: 16px;
          font-weight: 500;
          color: $color-text-default;
        }

        .active {
          color: $color-text-active;
        }
        margin-bottom: 8px;
      }


      .actionBtn {
        display: flex;
      }
    }

    .materialDetailBottom {

      .abstract {
        margin-bottom: 16px;
      }
    }
  }
}