.repositoryUl {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;

  .repositoryItem {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 8px;
    font-size: 14px;

    .ownerInfo {
      display: flex;
      align-items: center;
      margin-right: 8px;
    }
  }
}
