@import '@/styles/color.scss';

.category {
  width: 285px;

  .header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 16px 16px 8px;
    font-size: 16px;
  }

  .categoryList {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .categoryItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 8px;
      border-radius: 6px;
      font-size: 14px;
      position: relative;

      &:hover {
        background-color: $color-bg-hover;
        cursor: pointer;
      }

      .categoryLeft {
        display: flex;
        gap: 16px;
      }

      .categoryRight {

        .categoryNumber {
          font-size: 12px;
          font-weight: 600;
          line-height: 20px;
          border-radius: 20px;
          background-color: rgba(175, 184, 193, 0.2);
          color: rgb(31, 35, 40);
          height: 20px;
          padding: 0px 8px;
        }
      }
    }
    .avtive {
        
      &:after {
        position: absolute;
        top: calc(50% - 12px);
        left: -8px;
        width: 4px;
        height: 24px;
        content: "";
        background-color: rgb(9, 105, 218);
        border-radius: 6px;
      }
     
      background-color: $color-bg-hover;
    }
  }
}