@import '@/styles/color.scss';

.operationBar {
  position: fixed;
  margin-left: -7rem;
  z-index: 2;
  top: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .operationItem {
    height: 3rem;
    width: 3rem;
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
    text-align: center;
    font-size: 1.67rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-icon-gray;
    &:hover {
      background-color: $color-bg-hover;
      color: $color-icon-gray-hover;
      cursor: pointer;
    }
  }
  .noActive {
    background-color: #c3c8d0;
    color: white;
  }
  .iconAcive {
    color: $color-primary;
  }
}
