@import '@/styles/color.scss';

.commentItem {
  padding: 16px;
  display: flex;
  width: 100%;
  gap: 8px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  margin: 16px 0;

  .main {
    flex: 1;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .headerUserinfo {
        display: flex;
        gap: 8px;
        align-items: center;
      }

      .headerOperation {
        cursor: pointer;
      }

      .username {
        font-size: 15px;
        font-weight: 600;
      }

      .time {
        color: $color-text-gray;
        font-size: 12px;
      }
    }

    .content {
      // background: #eff1f8;
      padding: 16px;
      border-radius: 12px;
      width: 100%;
      font-size: 15px;
      margin: 10px 0px;
    }

    .info {
      display: flex;
      justify-content: space-between;

      .infoLeft {
        width: 100%;
        margin-bottom: 14px;
        color: $color-text-gray;
        font-size: 12px;
        display: flex;
        gap: 8px;
        align-items: center;
      }

      .replyBtn {}
    }

    .reply {
      margin-top: 10px;
    }
  }
}