@import '@/styles/color.scss';

.commitList {
  width: 100%;
  position: relative;

  .repo {
    position: sticky;
    top: 0;
    padding-left: 15px;
    display: block;
    height: 36px;
    z-index: 100;
    background-color: white;
    line-height: 36px;
    font-weight: 600;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #e1e1e1;
    transition: height 0.1s ease;
  }

  .commitItem {
    width: 100%;
    font-weight: 600;
    color: $color-text-default;
    opacity: 0.8;
    overflow-y: hidden;

    .commitContent {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .commitDetail {
      display: flex;
      align-items: center;
      font-size: 12px;

      .commitName {
        margin-right: 10px;
        max-width: 62px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .commitTime {
        font-weight: normal;
        font-size: 12px;
        color: $color-text-gray;
      }
    }
  }
}
