@import '@/styles/color.scss';

.materiview {
  .header {
    width: 100%;

    .materialInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;

      .materialInfoTop {
        display: flex;
        align-items: center;
        gap: 16px;

        .materialName {
          font-size: 36px;
          font-weight: bold;
          margin-bottom: 8px;
        }
      }

      .materialInfobottom {
        display: flex;
        justify-content: space-between;

        .materialInfobottomLeft {
          display: flex;
          align-items: center;
          gap: 16px;
          font-size: 15px;
          flex-wrap: wrap;
          color: $color-text-gray;

          .version {
            display: inline-flex;
            align-items: center;
            font-size: 12px;
            font-weight: 400;
            color: $color-text-gray;
            padding: 6px 8px;
            background-color: #f2f5fa;
            border-radius: 5px;
          }
        }

        .materialOperation {

        }


      }

      .tags {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;

        .tagItem {
          &:hover {
            color: white;
            background-color: $color-primary;
            cursor: pointer;
          }
        }
      }
    }
  }

  .materialDescription {
    margin-top: 16px;

    .materialDescriptionContent {
      font-size: 14px;
      color: $color-text-default;
      line-height: 1.5;
    }
  }

  .commentContainer {
    margin: 32px 0;
  }
}