.inputContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;

  :global {
    .semi-form-vertical .semi-form-field {
      flex: 1;
    }

    .semi-button {
      margin-top: 24px;
      vertical-align: bottom;
    }

    .semi-input-suffix {
      .semi-button {
        margin-top: 0;
      }
    }
  }
}

.formItemRequired {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 8px;
}

.required {
  &::after {
    content: '*';
    color: red;
    margin-left: 4px;
  }
}

.formDescriptionItem {
  :global {
    .bytemd {
      height: calc(100vh - 200px);
    }
  }
}
