.homeContainer {
  display: flex;
  min-height: 100vh;

  .userAside {
    min-width: 350px;
    padding: 32px;
    border-right: 1px solid #eaeaea;
  }

  .informationAside {
    flex: 1;
    padding: 32px;
    display: flex;
    background-color: rgb(250, 250, 250);

    .recommendContainer {
      flex: 1;
    }

    .newsContainer {
      width: 382px;
    }

  }
}