@import '@/styles/color.scss';

.editorContainer {
  :global {
    .bytemd {
      .bytemd-tippy-right {
        &:nth-child(4) {
          display: none !important;
        }
      }
    }
  }
}

.markdownView {
  :global {
    .markdown-body {
      background-color: $color-bg;
    }
  }
}

.insetBackGround {
  :global {
    .markdown-body {
      background-color: $color-bg-inset;
    }
  }
}
