@import '@/styles/color.scss';

.actionCard {
  .actionHeader {
    display: flex;
    align-items: center;

    .owner {
      margin-right: 8px;
      display: flex;
      justify-content: space-around;
      gap: 8px;
      align-items: center;
    }

    .action {
      margin-right: 5px;
    }

    .actionTime {
    }
  }
}
