@import '@/styles/color.scss';

.materialPage {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: $color-bg;
  .materialContainer {
    margin-top: 20px;
    width: 960px;
    display: flex;
    gap: 32px;

    .useInfoAside {
      width: 250px;
      position: sticky;
      top: 50px;
      transition: all 0.15s ease-in-out;
    }

    .materialView {
      flex: 1;
    }
  }
}
