.materialUl {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  gap: 16px;

  .materialItem {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;

    .ownerInfo {
      display: flex;
      align-items: center;
      margin-right: 8px;
    }
  }
}
